<label>Server Name</label>
<!-- <input type="text"
  class="form-control"
  (input)="onUpdateServerName($event)"> -->
  <!--
    $event permite passar para um método diversas informações sobre o evento que triggou esse método. Na lógica, podemos usar esse $event para pegar, por exemplo, a propriedade "value" do input que triggou esse método. Assim, podemos mandar o método alterar o valor do serverName e exibí-lo abaixo:
  -->

<input
  type="text"
  class="form-control"
  [(ngModel)]="serverName">
  <!--
    two-way-dataBinding: é possível combinar event binding e property binding em um só. Dessa forma, o evento (detectado pelo input) altera o valor da propriedade serverName, e o valor da propriedade serverName altera o input. Na lógica, se alterarmos o valor da propriedade em algum lugar, o valor do input também será alterado.
  -->

<p>{{ serverName }}</p>
<button
 class='btn btn-primary'
 [disabled]="!allowNewServer"
 (click)="onCreateServer()">Add server</button>
<!--
  property binding: disabled é uma propriedade nativa do elemento HTML button, porém [] indica ao Angular uma conexão/binding entre essa propriedade e o boolean passado no ="" . No caso, o button será desabilitado baseado no valor inverso (!) da propriedade allowNewServer.
-->
<p [innerText]="allowNewServer"></p>
<p>{{ allowNewServer }}</p>
<!-- No caso acima, tanto utilizando string interpolation quanto property binding geram o mesmo resultado. -->
<!--
  Porém, cada caso tem uma aplicação mais apropriada. property binding permite ter uma dinamização maior entre a propriedade e o valor lógico, enquanto que string interpolation é meramente um valor em texto.
-->
<!-- <p>{{ serverCreationStatus }}</p> -->
<p id="pDestaque" *ngIf="serverCreated; else noServer">Server was created, server name is {{ serverName }}</p>
<!--
  ngIf é uma Diretiva Estrutural do Angular que permite adicionar ou remover elementos do DOM. No caso acima, serverCreated é uma propriedade boolean que só é definida como true quando o botão for clicado. De início essa propriedade é false, o que quer dizer que no DOM esse parágrafo não existe até que o botão seja clicado.
  Isso pode ser observado no DevTools.
  O id pDestaque foi colocado apenas para formatação do background no css.
  Diferente de diretivas estruturais como ngIf, diretivas de atributo não adicionam ou removem elementos do DOM, mas apenas os alteram. Por exemplo um ngStyle.
-->
<ng-template #noServer>
  <p id="pDestaque">No server was created!</p>
</ng-template>
<!--
  #noServer servirá como um else para o ngIf declarado acima.
  O id pDestaque foi colocado apenas para formatação do background no css.
-->

<app-server *ngFor="let server of servers"></app-server>

